.App {
  text-align: center;
}

.switch-container {
  position: relative;
  width: 60px;
  text-align: center;
  cursor: pointer;
}

.slider {
  position: relative;
  width: 100%;
  height: 17px;
  background-color: #181f32;
  border-radius: 34px;
  transition: 0.4s;
}

.slider-button {
  position: absolute;
  height: 11px;
  width: 17%;
  top: 3px;
  border-radius: 50%;
  transition: 0.4s;
}

.option-0 .slider-button {
  left: 4px;
  background-color: #d13f30;
}

.option-1 .slider-button {
  left: 25px; /* (180 - 34) / 2 = 76 */
  background-color: #d13f30;
}

.option-2 .slider-button {
  left: 42px; /* 180 - 34 = 148 */
  background-color: #d13f30;
}

.labels {
  display: flex;
  justify-content: space-between;
  margin-top: -15px;
}

.labels span {
  flex: 1;
  text-align: center;
}

.labels .active {
  font-weight: bold;
}
.numbers {
  width: 17%;
  height: 43px;
  background-color: #eae3db;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 800;
  padding-top: 10px;
  border-bottom: 4px solid #b7a79a;
}
.delnreset {
  width: 17%;
  height: 43px;
  background-color: #647299;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 800;
  padding-top: 10px;
  border-bottom: 4px solid #424f72;
  color: white;
}
