.App {
  text-align: center;
}

.switch-container {
  position: relative;
  width: 60px;
  text-align: center;
  cursor: pointer;
}

.slider {
  position: relative;
  width: 100%;
  height: 15px;
  background-color: #181f32;
  background-color: white;
  border-radius: 34px;
  transition: 0.4s;
}

.slider-button {
  position: absolute;
  height: 11px;
  width: 20%;
  top: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

.option-0 .slider-button {
  left: 4px;
  background-color: #d13f30;
}

.option-1 .slider-button {
  left: 25px; /* (180 - 34) / 2 = 76 */
  background-color: #d13f30;
}

.option-2 .slider-button {
  left: 42px; /* 180 - 34 = 148 */
  background-color: #d13f30;
}

.labels {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.labels span {
  flex: 1;
  text-align: center;
}

.labels .active {
  font-weight: bold;
}
