.App {
  text-align: center;
}

.switch-container {
  position: relative;
  width: 60px;
  text-align: center;
  cursor: pointer;
}

.slider {
  position: relative;
  width: 100%;
  height: 17px;
  background-color: #181f32;
  border-radius: 34px;
  transition: 0.4s;
}

.slider-button {
  position: absolute;
  height: 11px;
  width: 17%;
  top: 3px;
  border-radius: 50%;
  transition: 0.4s;
}

.option-0 .slider-button {
  left: 4px;
  background-color: #d13f30;
}

.option-1 .slider-button {
  left: 25px; /* (180 - 34) / 2 = 76 */
  background-color: #d13f30;
}

.option-2 .slider-button {
  left: 42px; /* 180 - 34 = 148 */
  background-color: #d13f30;
}

.labels {
  display: flex;
  justify-content: space-between;
  margin-top: -15px;
}

.labels span {
  flex: 1;
  text-align: center;
}

.labels .active {
  font-weight: bold;
}

.main-body {
  width: 100vw;
  height: 100vh;
}
.body-frame {
  width: 33%;
  height: 83%;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.frame-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.frame-one-content {
  display: flex;
  align-items: center;
  width: 28%;
  justify-content: space-between;
}
.calc {
  font-size: 1.2rem;
  font-weight: 700;
}
.theme {
  font-size: 0.6rem;
  font-weight: 600;
}

.frame-two {
  height: 9%;
  margin: 25px 0 20px 0;
  border-radius: 8px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 25px;
}
.result {
  color: white;
  font-size: 2.8rem;
  font-weight: 700;
}

.frame-three {
  background-color: #252d44;
  height: 75%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.frame-three-first {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
}
.frame-three-second {
  display: flex;
  justify-content: space-between;
  padding: 0 30px 30px 30px;
}
.frame-three-last {
  display: flex;
  justify-content: space-between;
  padding: 0 30px 30px 30px;
}
.equal {
  width: 45%;
  height: 43px;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 800;
  padding-top: 10px;
  border-bottom: 4px solid #922417;
  color: white;
  background-color: #d13f30;
  cursor: pointer;
}
.equal:hover {
  background-color: #f96c5b;
}
.reset {
  width: 45%;
  height: 43px;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 800;
  padding-top: 10px;
  border-bottom: 4px solid #424f72;
  color: white;
  background-color: #647299;
  cursor: pointer;
}
.reset:hover {
  background-color: #a2b3e1;
}
.numbers {
  width: 17%;
  height: 43px;
  background-color: #eae3db;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 800;
  padding-top: 10px;
  border-bottom: 4px solid #b7a79a;
  color: #313642;
  cursor: pointer;
}
.numbers:hover {
  background-color: white;
}
.del {
  width: 17%;
  height: 43px;
  background-color: #647299;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 800;
  padding-top: 10px;
  border-bottom: 4px solid #424f72;
  color: white;
  cursor: pointer;
}
.del:hover {
  background-color: #a2b3e1;
}
